/* start global*/
* {
    margin: 0;
    padding: 0;
    font-size: medium;
}
body {
    font-family: arial, tahoma;
    
    font-size: medium;
}
.background-image {
    background-image: url(background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 355vh;
}
/*end global*/
/* start header*/
.main { 
    background-color: #333;
    color: #DDD;
    padding: 20px;
    text-align: center;


}
.card-1 {
    background-color:rgba(244, 244, 244, 0.123);
    width: 100%;
    border-radius: 10px;
    
    } 

.card {
background-color:rgba(244, 244, 244, 0);
width: 110%;

} 
.card-2 {
    background-color:rgb(244, 244, 244);
    width: 100%;
    
    } 

.btn-orange {
    background-color: #f50;
}
.btn-orange:hover {
    background-color: rgb(208, 72, 3);
}

/*
nav{
    background-color: #DDD;
    text-align: center;
}

nav{
    padding:20px ;
}

nav ul li{
    display: inline-block;
}

nav ul li:after{
    content: " |";
}

nav ul li:last-child:after{
    content: "";
}
/* end header */
main {
    background-color: rgb(35, 34, 34);
}

main p {
    text-align: center;
    color: #c9c3c3;
}


/* start articles */
.article1 {
    
    background-color: beige;
    border: 2px solid #ccc;
    margin: 20px;
    width: 140%;
    border-radius: 10px;
    padding: 10px;
}

.article1 header{
    background-color:#062f4f;
    padding: 10px;
    color: #ccc;
    border-radius: 10px;
   
}
.form-floating {
    padding: 10px;
}
section {
    padding: 10px;
}

.side-article {
    
    background-color: beige;
    border: 1px solid #ccc;
    margin: 20px;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
}
.side-article header{
    background-color:#b82601;
    padding: 10px;
    color: #ccc;
    border-radius: 10px;
   
}
.article2 {
    
    background-color: beige;
    border: 2px solid #ccc;
    margin: 10px;
    width: 110%;
    border-radius: 10px;
    padding: 10px;
}
.article2 header{
    background-color:#813772;
    padding: 20px;
    color: #ccc;
    border-radius: 10px;
}
.v-article {
    
    background-color: beige;
    border: 1px solid #ccc;
    margin: 10px;
    width: 90%;
    border-radius: 10px;
    padding: 5px;
}
.v-article header{
    background-color:#813772;
    padding: 5px;
    color: #ccc;
    border-radius: 10px;
    margin: 5px;
}
article section {
    padding: 10px;
}

video{
    padding: 1px;
    background-color: beige;
    margin: 1px;
}




/* end articles*/

/*start footer*/
footer {
    background-color: #333;
    color: #DDD;
    text-align: center;
    padding: 10px;
}
/*end footer*/
